<div>
    
    <!--Container mensagem de saudacao-->
    <div id="main-container" class="container">
        <div>
            <h2>Sobre o Reboliço Cearence</h2>
        </div>
        
        <div id="div_centralizada" class="center jumbotron">
            <h2>Reboliço Cearense é uma agenda colaborativa cultural, 
    onde os usuários podem divulgar, buscar e manter informações sobre eventos de interesse 
    público do estado do Ceará.</h2>
            <h3>Fique por dentro de <%= link_to "todos os eventos", events_path %> pelo Ceará e publique os seus.</h3>
        </div>
    </div>
    
    <br>
    
    <!--Cards-->
    <div id="main-container" class="container">
       
       
    </div>
    
    
</div>