<div id="main-container" class="container">
    <div>
        <h2>Edição de Evento</h1>
    </div>

    <%= render 'form', event: @event %>

    <!--<%= link_to 'Show', @event %> |-->
    <%= link_to "Eventos", events_path, class: 'btn btn-default' %>
    
</div>