<div id="main-container" class="container">
    <div>
        <h2>Alterar Configurações de Usuário</h1>
    </div>

    <%= render 'form', user: @user %>

    <!--<%= link_to 'Show', @user %> |-->
    <!--<%= link_to 'Back', welcome_path %>-->

</div>